body {
  margin: 0;
}

.copy {
  margin: 3em;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 2;
  width: 40%;
}

.gears {
  position: fixed;
  top: 0%;
  right: -30%;
  z-index: -1;
  width: 100%;
}
